@using PagedList;
@using PagedList.Mvc;
@using System.Web;
@model IPagedList<Data.Models.Thesis>
@{
    Layout = null;
}
<table class="table table-bordered" id="table">
    <tr>
        <th>Thesis No</th>
        <th>Thesis Title</th>
        <th>Author Name</th>
        <th>Primary Supervisor Name</th>
        <th>Institute</th>
        <th>University</th>
        <th>Language</th>
        <th>Date</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr id="sale-table" data-id="@item.THESISID">
            <td>@item.NUMBER</td>
            <td>@item.TITLE</td>
            <td>@item.AUTHOR.AUTHORNAME @item.AUTHOR.LASTNAME</td>
            <td>@item.SUPERVISOR.FIRSTNAME  @item.SUPERVISOR.LASTNAME</td>
            <td>@item.INSTITUTE.NAME</td>
            <td>@item.UNIVERSITY.NAME</td>
            <td>@item.LANGUAGE</td>
            <td>@item.SUBMISSIONDATE</td>

        </tr>
    }

</table>




